<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.pymeapps.eventosdeportivos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".Inicio"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".eventos.Eventos"
            android:label="@string/title_activity_eventos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.pymeapps.eventosdeportivos.Inicio" />
        </activity>
        <activity
            android:name=".servicios.Servicios"
            android:label="@string/title_activity_servicios"          >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.pymeapps.eventosdeportivos.Inicio" />
        </activity>
        <activity
            android:name=".noticias.Noticias"
            android:label="@string/title_activity_noticias"            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.pymeapps.eventosdeportivos.Inicio" />
        </activity>
        <activity
            android:name="es.pymeapps.eventosdeportivos.informacion.Informacion"
            android:label="@string/title_activity_informacion" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.pymeapps.eventosdeportivos.Inicio" />
        </activity>
    </application>

</manifest>
